body {
	padding : 0;
	margin: 0;
	background: #f4f4f4;
}

/*Navigation bar styles*/
/*.nav-link {
	color: #28a745;
	cursor: pointer;
}*/
/*.nav-link{
	margin-right:
	1em !important;
	color: #28a745;
}*/


.navbar-dark .navbar-nav .nav-link:hover { 
	/*background: #fff;*/
	color: #fff; 
	cursor: pointer;
	
}

.navbar-nav >li{
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-collapse{ 
	justify-content: 
	flex-end;
}

/*header style*/
.header{
	position: relative;
	margin: auto;
/* 	background-color:#343a40;*/
/*	top: 20px;
	bottom: 0px;*/
/*	background-image: url('images/header-background.png');*/
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    max-width: 100%;
    max-height: 100%;
    /* height: 806px; */
    /* width: auto; */
}

.header img {
	float: left;
	padding: 0.5px;
	width : 105%;
	height: 100%;
	margin: auto;
	clear:both;
}

.col {
	position: relative;
    flex-basis: 0;
    flex-grow: 1;
    width: 109%;
    max-width: 105%;
    max-height: none;
    height: 850px;
	padding-right: 5px;
	padding-left: 0px;
}

.overlay{
 	position: absolute;
	margin: auto;
 	min-height: 100%;
 	min-width: 100%;
	bottom:0;
 	background: rgba(244, 244, 244, 0.79);
}

.container {
    width: 100%;
    height: fit-content;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.description{
    position: absolute;
    top: 300px;
    margin: auto;
    padding: 1em;
}
.description h1{
 	color:#6a5acd ;
	position: relative;
	top: 50px;
	left: 0px;
}

.description p{
 	color: #212529;
 	font-size: 30px;
 	width: 100%;
 	line-height: 1.5;
}

/*Genre styles*/
.genres{
	/*background-color: rgb(132, 215, 255);*/
	background-color: white;
 	margin: auto;
	padding: 1em;
 	position: relative; 
	overflow: hidden;
}
.genres h1{
 	color:#6a5acd;
 	margin: 0;
	margin-block-start: 1em; 
}

.col {
	padding-left: 3px;
	overflow: hidden;
}

.genres img{
  	height: 15rem;
  	width: 70%;
  	margin-left: 4em;
	padding-right: 6px;
	padding-left : 3px;
	margin-top: 1em;
	
}

/*Romance show page styles*/
.romanceShows{
	background-image: linear-gradient(to bottom right, red, blue);
 	margin: 0;
	padding: 1em;
 	position: relative; 
	max-height: 100%;
	overflow:hidden;
	
}
.text-center {
	margin-block-start: 4em;
	margin-inline-end: 2em;
}
.row {
	margin-block-start : 2em;
}

.romanceShows img {
	width: 312px;
	height: 312px;
}

/* Comedy show page styles*/
.comedyShows{
	background-image: linear-gradient(to bottom right, yellow, blue);
 	margin: auto;
	padding: 1em;
 	position: relative; 
}
.text-center {
	margin-block-start: 4em;
	margin-inline-end: 2em;
}
.row {
	margin-block-start : 2em;
}
.comedyShows img {
	width: 312px;
	height: 312px;
}

/* Thriller show page styles*/
.thrillerShows{
	background-image: linear-gradient(to bottom right, gray, black, gray);
 	margin: auto;
	padding: 1em;
 	position: relative; 
}
.text-center {
	margin-block-start: 4em;
	margin-inline-end: 2em;
}
.row {
	margin-block-start : 2em;
}
.thrillerShows img {
	width: 312px;
	height: 312px;
}

/*Create Challenges page styles*/
.CreateChallenge {
	padding-top: 3em;
	padding-left: 15em;
	padding-right: 15em;
	padding-bottom:15em;
	/*background-image: linear-gradient(to bottom right, white, white);*/
	background-color: LightSkyBlue;
	position: relative; 
	
}

.description {
    position: absolute;
    top: 50px;
    left: 250px;
    margin: auto;
    padding: 2em;
	text-color:black;
}

.createTrivia {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-block-start: 250px;
}

.buttons {
	padding-left:450px;
}
.col-sm-1 {
	padding-left: 5px;
}

.newDiv {
/*	border: 4px solid #6610f2!important;*/
	padding-top:10px;
	padding-bottom:16px;
	line-height: 1.5;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}
.newDiv .col-lg-8 {
	padding-top: 5px;
	padding-left: 150px;
	max-width: 80%;	
}

.newEntryForm {
	margin-left: 150px;
	padding-left: 200px;
	padding-top: 15px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s 
}



/*Styles for ShowPage */
img {
  display: block;
  margin-top: -120px;
  margin-bottom: -50px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-rows: 160px 160px;
  grid-template-columns: 400px 400px;
  grid-gap: 10px;
  color: #444;
  margin-left: 430px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  /*   padding: 20px; */
  font-size: 150%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredImage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: image-height/2;
  margin-left: image-width/2;
}

.header {
  margin-left: 670px;
  margin-bottom: 20px;
}
